<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sierra.vagabond">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VagabondApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.sierra.vagabond.main.search.MainActivity"
            android:theme="@style/VagaTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="com.sierra.vagabond.main.details.DetailsActivity"
            android:theme="@style/VagaTheme">
        </activity>
        <activity
            android:name="com.sierra.vagabond.main.details.SingleImageView"
            android:theme="@style/VagaTheme">
        </activity>

        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />

    </application>

</manifest>